Vagrant.configure("2") do |config|
    
    config.vm.box = "PROVIDER_BOX_NAME"
    config.vm.box_url = "PROVIDER_BOX_URL"
    config.vm.network "private_network", ip: "GEN_HOSTONLY_ADDRESS"

    config.vm.synced_folder "GEN_FEATURES_DIR", "/var/Project/features", type: "rsync"

    config.vm.provision :chef_solo do |chef|
      
        chef.file_cache_path = '/var/chef/cache/artifacts'
        chef.log_level = :debug
        chef.add_recipe "COOKBOOK_NAME::default"
    end
end

